# Dependencies
node_modules/
frontend/node_modules/

# Build outputs
frontend/dist/
backend/dist/
backend/docker-monitoring
*.exe
*.exe.log

# Databases & Logs
*.db
monitoring.db
*.log

# IDE & OS
.DS_Store
.vscode/
.idea/
